@import url(https://fastly.jsdelivr.net/gh/FortAwesome/Font-Awesome@6.5.2/css/all.min.css);
.faI::after {
	color: #0f0;
	content: "true";
}
.faV::after {
	content: "v6.5.2";
}
:is(.fa, .fa-brands, .fa-solid):is(button>i) {
	margin-left: 2px;
}
:is(.fa, .fa-brands, .fa-solid):not(button>i) {
	width: 1em;
	margin-left: 6px;
	margin-right: 6px;
}
.flex {
	align-items: stretch; flex-direction: column;
}

button.icon:not(header>button):is(:hover, :focus) {
	background-color: unset;
	opacity: 0.7;
}
noscript {
	width: calc(100vw);
	height: calc(100vh);
	position: fixed;
	background-color: #0008;
	z-index: 100;
}
noscript>content {
	position: relative;
	color: #fff;
}
sider {
	width: calc(40vw);
	left: calc(-140vw);
}
sider>button {
	margin-right: 4px;
}
info {
	color: #fff6;
	display: block;
	position: relative;
	z-index: 101;
}
@media screen and (max-width: 768px) {
	.box>button {
		margin-bottom: 6px;
	}
	sider {
		width: calc(60vw);
	}
	sider>button {
		margin-right: 0;
	}
	h1.title {
		font-size: 26px;
	}
}